{% extends 'base.html' %}
{% load static %}
{% block body %}
  <!-- END: header -->
  <section class="probootstrap-slider flexslider2 page-inner">
    <div class="overlay"></div>
    <div class="probootstrap-wrap-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8">

            <div class="page-title probootstrap-animate">
              <div class="probootstrap-breadcrumbs">
                <a href="#">Home</a><span><a href="{% url 'property:property_list' %}">Properties</a></span>
              </div>
              <h1>{{property_detail}}</h1>
            </div>

          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url({% static 'slider/slide1.jpg' %});" class="overlay"></li>
      <li style="background-image: url({% static 'slider/slide2.png' %});" class="overlay"></li>
      <li style="background-image: url({% static 'slider/slide3.jpg' %});" class="overlay"></li>
    </ul>
  </section>
  <!-- END: slider  -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="row heading">
        <div class="col-md-12"><h2 class="mt0 mb50 text-center">{{ property_detail }}</h2></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p><img src="{{ property_detail.image.url }}" class="img-responsive" alt="Free Bootstrap Template by uicookies.com"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <h2>Details</h2>
          <p>Type:{{ property_detail.property_type }}</p>
          <p>Price: ${{ property_detail.price }}</p>
         <!--  <p>{{ property_detail.category }}</p> -->
          <p>Area: {{ property_detail.area }}</p>
          <p>Beds: {{ property_detail.beds_number }}</p>
          <p>Bath: {{ property_detail.bath_number }}</p>
          <p>Garages: {{ property_detail.garages_number }}</p>
        </div>
        
      </div>
    </div>
  </section>


    <section class="probootstrap-section">
    <div class="container">
      <div class="row heading">
        <div class="col-md-12"><h2 class="mt0 mb50 text-center">{{ property_detail }}</h2></div>
      </div>
      <div class="row">
        <div class="col-md-12">
         
      
          <h2>Reserve this Property</h2>
          <form method="post" action="">
            {% csrf_token %}
            {{reserve_form}}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        
      </div>
    </div>
  </section>

  <style type="text/css">
    input[type=text], input[type=email]{
      width:100%!important;
    }
     input[type=text]:hover, input[type=email]:hover{
      width:80%;
      border:2px solid orange;
    }
    textarea{
      /*margin-top:10px;*/
      width:100%;
    }
  </style>


  

{% endblock body %}